/* Common container styles */
.container {
	margin: 0 auto; 
	max-width: 100%; 
	padding: 0 15px; 
	box-sizing: border-box; 
  }
  
  @media screen and (max-width: 768px) {
	.container {
	  width: 90%; 
	}
	img {
	  max-width: 100%; 
	  height: auto;
	}
  }
 
  /* Media query for iPhone 6/7/8 (portrait and landscape) */
  @media only screen 
	and (min-device-width: 375px) 
	and (max-device-width: 667px) 
	and (-webkit-min-device-pixel-ratio: 2) {
	.container {
	  width: 95%; 
	}
  }
  